<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Software Intelligence</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="intro"
    style="background-image: url(images/bg.jpeg);"
    id="home">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid head-padding">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home"><strong>Software Intelligence</strong></a>
        </div>
        <div class="collapse navbar-collapse offcanvas-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home">HOME</a></li>
            <li><a href="#news" title="news">NEWS</a></li>
            <li>
              <div class="dropdown">
                <button class="dropbtn" onclick="location.href='#research'">RESEARCH</button>
                <div class="dropdown-content">
                  <a href="./ssc.html">SE</a>
                  <a href="./ai.html">AI</a>
                </div>
              </div>
            </li>
            <li><a href="#research" title="team">TEAM</a></li>
            <li><a href="#teaching" title="teaching">TEACHING</a></li>
            <li><a href="#contact" title="contract">HIRING</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="middle">
      <p class="hero-kicker">We are</p>
      <p class="hero-title">Software Intelligence Group</p>
      <p class="hero-desc">Our research is focused on using program analysis and machine/deep
        learning to improve the security, reliability and quality of software systems and AI models.</p>
    </div>
  </div>

  <div class="page">
    <div class="jumbotron jumbotron-fluid" id="news">
      <div class="container">
        <h2>
          <center>Recent Updates</center>
        </h2>
        <hr>
        <!--NEWS-LIST-->
      </div>
    </div>

    <div>
      <div class="container" id="research">
        <h2>
          <center>Research</center>
        </h2>
        <hr>
        <h3><strong>Research Directions</strong></h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h4><a href="./ssc.html">Software Supply Chain Security via AI4SE</a></h4>
                </div>
                <div class="panel-body">
                  <p>To improve software development efficiency and save cost, when developing software, many
                    enterprises rely on third-party software, which constitutes the software supply chain (SSC).
                    Due to the dependency relations among software, vulnerabilities in SSC may cause more serious
                    security threats than independent software systems. This poses new challenges for ensuring software
                    security.
                    Our research mainly focuses on designing novel intelligent software engineering and program analysis
                    techniques, including but not limited to software dependency analysis, software vulnerability
                    detection, vulnerability repair and etc.
                    The ultimate goal is to increase the security of software supply chain and software ecosystem.
                  </p>
                  <p style="color: blue;"><a href="./ssc.html">read more ...</a></p>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <h4>Usability and Robustness of DNN via SE4AI</h4>
                </div>
                <div class="panel-body">
                  <p>Due to poor interpretability, a large number of parameters and data requirements, and poor
                    reliability, the AI model, as the core of intelligent software systems, suffers from poor
                    reusability, high testing overhead, and high security risks in development, testing, and deployment.
                    AI models are considered as "Software 2.0". In this direction, we target the above problems from the
                    perspective of software engineering. we aim to apply software engineering techniques/notions to AI
                    model engineering to improve the models' usability and robustness.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>AI/Crowd Intelligence</h4>
                </div>
                <div class="panel-body">
                  <p>Crowd intelligence aims at achieving powerful intelligence through aggregating diverse
                    contributions from many heterogeneous individuals, which is a typical form of AI. As a matter of
                    fact, the success of many AI technologies highly relies on large-scale datasets that are often built
                    through crowd intelligence. We study various perspectives of crowd intelligence including theories,
                    techniques and applications. Research topics include, but are not limited to, crowdsourcing,
                    federated learning, human-in-the-loop AI and open source.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--PAPER-LIST-->

      </div>
      <br><br>
    </div>

    <div class="container" id="teaching">
      <h2>
        <center>Teaching</center>
      </h2>
      <hr>
      <h4>Introduction to Open Source Software Development [Fall 2022,2023]</h4>
      <h4>Object-Oriented Programming [Fall 2022]</h4>
      <h4>Intelligent Software Engineering [Spring 2024]</h4>
    </div>
    <br><br>

    <div class="jumbotron jumbotron-fluid" id="contact">
      <div class="container">
        <h2>
          <center>Hiring</center>
        </h2>
        <hr>
        We are looking for highly self-motivated intern/master/phd students to work with us. Please send email to
        sunhl@buaa.edu.cn or xiang_gao@buaa.edu.cn if you are interested. We also have postdoc positions available.
      </div>
    </div>

    <footer>Last updated: August 2026 &nbsp;&nbsp;&nbsp;&nbsp;</footer>
  </div>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".navbar-fixed-top");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
      });
    });
  </script>
</body>

</html>
